body {font-family:Cascadia Mono; text-align: center; margin-top: 18px; background-color: #A6280F;}
h1 {color: black; font-size: 16px;}
button {color: black; padding: 10px 20px; font-size: 16px; background-color: #A6280F; border: 2px solid black; border-radius: 5px; cursor: pointer;}

#letter {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
#letter {
    font-size: 80px;
    font-weight: bold;
    color: black;
    min-height: 90px;
    margin-top: 40px;
    text-align: center;
}
img {
    width: 600px;
    max-width: 90%;
    display: block;
    margin: 40px auto;
}
button {
    padding: 12px 24px;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}